#macro(mainLayout)
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8"/>
    <title>Default title</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
</head>


<body>
<div id="content">
    <div class="control-header">
        <div class="zoom-control">
            <a onclick="move('z', -1)" id="zoom-plus" class="zoom-btn">
                <i class="fas fa-plus"></i>
            </a>
            <a onclick="move('z', 1)" id="zoom-minus" class="zoom-btn">
                <i class="fas fa-minus"></i>
            </a>
        </div>

        <div class="select">
            <select name="slct" id="slct" onchange="updateImage()">
                <option value="mandelbrot">Mandelbrot</option>
                <option value="julia">Julia</option>
            </select>
        </div>

        <div class="move-control">
            <a onclick="move('y', -1)" id="move-up" class="move-btn-y">
                <i class="fas fa-caret-up"></i>
            </a>
            <div class="move-side">
                <a onclick="move('x', -1)" id="move-left" class="move-btn-x">
                    <i class="fas fa-caret-left"></i>
                </a>
                <div class="move-spacing"></div>
                <a onclick="move('x', 1)" id="move-right" class="move-btn-x">
                    <i class="fas fa-caret-right"></i>
                </a>
            </div>
            <a onclick="move('y', 1)" id="move-down" class="move-btn-y">
                <i class="fas fa-caret-down"></i>
            </a>
        </div>
    </div>

    <div id="fractal-img" class="img-main" style="background-image: url('')"></div>

    <div class="loading">Chargement...</div>
</div>
<script src="/js/script.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/js/all.min.js" integrity="sha512-F5QTlBqZlvuBEs9LQPqc1iZv2UMxcVXezbHzomzS6Df4MZMClge/8+gXrKw2fl5ysdk4rWjR0vKS7NNkfymaBQ==" crossorigin="anonymous"></script>
</body>

</html>
#end
